<h4>Posts</h4>
{{ knp_menu_render('FlowFusionBlogBundle:Builder:adminPostsMenu') }}

<h4>Categories</h4>
{{ knp_menu_render('FlowFusionBlogBundle:Builder:adminCategoriesMenu') }}

<h4>Tags</h4>
{{ knp_menu_render('FlowFusionBlogBundle:Builder:adminTagsMenu') }}
