<h4>Posts</h4>
<ul>
    <li><a href="{{ path('flow_fusion_blog_admin_post_index') }}">Posts overview</a></li>
    <li><a href="{{ path('flow_fusion_blog_admin_post_new') }}">Create post</a></li>
</ul>
<h4>Categories</h4>
<ul>
    <li><a href="{{ path('flow_fusion_blog_admin_category_index') }}">Posts Categories</a></li>
    <li><a href="{{ path('flow_fusion_blog_admin_category_new') }}">Create category</a></li>
</ul>
