{% extends '@FlowFusionBlog/admin_layout.html.twig' %}

{% block ff_admin_sidebar %}
    {{ include('@FlowFusionBlog/Admin/sidebar.html.twig') }}
{% endblock %}

{% block ff_admin_content %}
    <h1>{{ 'backend.tag.edit.headline'|trans }} <small><code>{{ tag.title }}</code></small></h1>
    <hr />
    {{ include('@FlowFusionBlog/Admin/Tag/form.html.twig') }}
{% endblock %}
