{% extends "@FlowFusionBlog/layout.html.twig" %}

{% block page_title %}{% trans %}404.title{% endtrans %}{% endblock %}

{% block ff_blog_content %}
    <h1>{{ block('page_title') }}</h1>
    <p>{% trans %}404.message{% endtrans %}</p>
    <p><a href="{{ path('flow_fusion_blog_index') }}">{% trans %}404.homelink{% endtrans %}</a></p>
{% endblock ff_blog_content %}
