<div class="ff-blog-loop-index">
    {% for post in paginatedPosts %}
        {{ include('@FlowFusionBlog/View/entry.html.twig') }}
    {% else %}
        <div class=""><i>{% trans %}postindex.nothingfound{% endtrans %}</i></div>
    {% endfor %}
</div>

<div class="pagination">
    {{ knp_pagination_render(paginatedPosts) }}
</div>
